{% import "dashboard_template_macros.json.j2" as grafana_visualizations %}
{% set visualizations = ['Gauge', 'Table', 'BarChart', 'Stat', 'TimeSeries', 'Histogram'] %}
{
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {
            "type": "grafana",
            "uid": "-- Grafana --"
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 0,
    "id": 3,
    "links": [],
    "liveNow": false,
    "panels": [
    {% set ns = namespace(first_element_added=false, first_visualization_added=false) -%}
    {% for kpi in kpis %}
      {% for visualization in kpi.deps -%}
        {% if visualization.name in visualizations %}
          {% set ns.first_visualization_added=false -%}
          {% if not ns.first_element_added -%}
            {% set ns.first_element_added = true -%}
          {% else -%}
          ,
          {% endif -%}

          {% if not ns.first_visualization_added -%}
            {% set ns.first_visualization_added = true -%}
          {% else -%}
            ,
          {% endif -%}
          {% if visualization.name == "TimeSeries" -%}
            {{ grafana_visualizations.timeseries(visualization=visualization, kpi=kpi) -}}
          {% endif -%}
          {% if visualization.name == "Table" -%}
            {{ grafana_visualizations.table(visualization=visualization, kpi=kpi) -}}
          {% endif -%}
          {% if visualization.name == "Histogram" -%}
            {{ grafana_visualizations.histogram(visualization=visualization, kpi=kpi) -}}
          {% endif -%}
          {% if visualization.name == "Gauge" -%}
            {{ grafana_visualizations.gauge(visualization=visualization, kpi=kpi) -}}
          {% endif -%}
          {% if visualization.name == "Stat" -%}
            {{ grafana_visualizations.stat(visualization=visualization, kpi=kpi) -}}
          {% endif -%}
          {% if visualization.name == "BarChart" -%}
            {{ grafana_visualizations.bar_chart(visualization=visualization, kpi=kpi) -}}
          {% endif %}
        {% endif -%}
      {% endfor -%}
    {% endfor -%}
    ],
    "refresh": "",
    "schemaVersion": 38,
    "style": "dark",
    "tags": [],
    {% set ns.first_element_added = false -%}
    "templating": {
      "list": [{% for class in classes %}{% if not class.is_abstract -%}
              {% if not ns.first_element_added -%}
          {% set ns.first_element_added = true -%}
        {% else -%}
        ,
        {% endif -%}
        {
          "current": {},
          "definition": "Select name from {{ class.name | lower}}",
          "datasource": "aaron",
          "hide": 0,
          "includeAll": false,
          "multi": false,
          "name": "name{{ loop.index }}",
          "options": [],
          "query": "Select name from {{ class.name | lower}}",
          "refresh": 1,
          "regex": "",
          "skipUrlSync": false,
          "sort": 0,
          "type": "query"
        }{% endif %}
        {% endfor %}
      ]
    },
    "time": {
      "from": "2023-10-12T09:11:42.666Z",
      "to": "2023-10-12T09:12:03.402Z"
    },
    "timepicker": {},
    "timezone": "",
    "title": "KPI - {{ city.upper() -}}",
    "version": 2,
    "weekStart": ""
  }