{% macro timeseries(visualization, kpi) %}
{
    "datasource": "aaron",
    "fieldConfig": {
      "defaults": {
        "color": {
          "mode": "palette-classic"
        },
        "custom": {
          "axisCenteredZero": false,
          "axisColorMode": "text",
          "axisLabel": "",
          "axisPlacement": "auto",
          "barAlignment": 0,
          "drawStyle": "line",
          "fillOpacity": 0,
          "gradientMode": "none",
          "hideFrom": {
            "legend": false,
            "tooltip": false,
            "viz": false
          },
          "insertNulls": false,
          "lineInterpolation": "linear",
          "lineWidth": 1,
          "pointSize": 5,
          "scaleDistribution": {
            "type": "linear"
          },
          "showPoints": "auto",
          "spanNulls": false,
          "stacking": {
            "group": "A",
            "mode": "none"
          },
          "thresholdsStyle": {
            "mode": "off"
          }
        },
        "mappings": [],
        "thresholds": {
          "mode": "absolute",
          "steps": [
            {
              "color": "green",
              "value": null
            },
            {
              "color": "red",
              "value": 80
            }
          ]
        }
      },
      "overrides": []
    },
    "gridPos": {
      "h": 8,
      "w": 12,
      "x": 0,
      "y": 0
    },
    "id": 1,
    "options": {
      "legend": {
        "calcs": [],
        "displayMode": "list",
        "placement": "bottom",
        "showLegend": true
      },
      "tooltip": {
        "mode": "single",
        "sort": "none"
      }
    },
    "targets": [
      {
        "editorMode": "builder",
        "format": "table",
        "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\", \"{{visualization.attribute_dict["timestampName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
        "refId": "A", 
        "table": "kpivalue"
      }
    ],
    "title": "{{visualization.attribute_dict["name"]}}",
    "type": "timeseries"
  }
{% endmacro -%}   
{% macro table(visualization, kpi) %}
{
  "datasource": "aaron",
  "fieldConfig": {
    "defaults": {
      "custom": {
        "align": "auto",
        "cellOptions": {
          "type": "auto"
        },
        "inspect": false
      },
      "mappings": [],
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": 80
          }
        ]
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 0
  },
  "id": 8,
  "options": {
    "cellHeight": "sm",
    "footer": {
      "countRows": false,
      "fields": "",
      "reducer": [
        "sum"
      ],
      "show": false
    },
    "showHeader": true
  },
  "pluginVersion": "10.1.5",
  "targets": [
    {
      "editorMode": "builder",
      "format": "table",
      "rawSql": "SELECT \"kpiValue\", \"currentStanding\" ,\"timestamp\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
      "refId": "A"
    }
  ],
  "title": "{{visualization.attribute_dict["name"]}}",
  "type": "table"
}
{% endmacro -%}
{% macro histogram(visualization, kpi) %}
{
  "datasource": "aaron",
  "fieldConfig": {
    "defaults": {
      "color": {
        "mode": "thresholds"
      },
      "custom": {
        "fillOpacity": 80,
        "gradientMode": "none",
        "hideFrom": {
          "legend": false,
          "tooltip": false,
          "viz": false
        },
        "lineWidth": 1
      },
      "mappings": [],
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": 80
          }
        ]
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 16
  },
  "id": 6,
  "options": {
    "bucketOffset": 0,
    "legend": {
      "calcs": [],
      "displayMode": "list",
      "placement": "bottom",
      "showLegend": true
    }
  },
  "pluginVersion": "10.1.5",
  "targets": [
    {
      "editorMode": "builder",
      "format": "table",
      "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
      "refId": "A"
    }
  ],
  "title": "{{visualization.attribute_dict["name"]}}",
  "type": "histogram"
}
{% endmacro -%}   
{% macro gauge(visualization, kpi) %}
{
  "datasource": "aaron",
  "fieldConfig": {
    "defaults": {
      "color": {
        "mode": "thresholds"
      },
      "mappings": [],
      {% if visualization.attribute_dict["thresholdTop"] != "" %}
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": {{kpi.attribute_dict[visualization.attribute_dict["thresholdTop"]]}}
          }
        ]
      }
      {% endif %}
    },
    "overrides": []
  },
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 24
  },
  "id": 5,
  "options": {
    "orientation": "auto",
    "reduceOptions": {
      "calcs": [
        "lastNotNull"
      ],
      "fields": "",
      "values": false
    },
    "showThresholdLabels": false,
    "showThresholdMarkers": true
  },
  "pluginVersion": "10.1.5",
  "targets": [
    {
      "editorMode": "builder",
      "format": "table",
      "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
      "refId": "A"
    }
  ],
  "title": "{{visualization.attribute_dict["name"]}}",
  "type": "gauge"
}
{% endmacro -%}   
{% macro stat(visualization, kpi) %}
{
  "datasource": "aaron",
  "fieldConfig": {
    "defaults": {
      "color": {
        "mode": "thresholds"
      },
      "mappings": [],
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": 80
          }
        ]
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 32
  },
  "id": 4,
  "options": {
    "colorMode": "value",
    "graphMode": "area",
    "justifyMode": "auto",
    "orientation": "auto",
    "reduceOptions": {
      "calcs": [
        "lastNotNull"
      ],
      "fields": "",
      "values": false
    },
    "textMode": "auto"
  },
  "pluginVersion": "10.1.5",
  "targets": [
    {
      "editorMode": "builder",
      "format": "table",
      {% if visualization.attribute_dict["timestampName"] == ""%}
      "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",

      {% else %}
      "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\", \"{{visualization.attribute_dict["timestampName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
      {% endif %}
      "refId": "A"
    }
  ],
  "title": "{{visualization.attribute_dict["name"]}}",
  "type": "stat"
}
{% endmacro -%}   
{% macro bar_chart(visualization, kpi) %}
{
  "datasource": "aaron",
  "fieldConfig": {
    "defaults": {
      "color": {
        "mode": "palette-classic"
      },
      "custom": {
        "axisCenteredZero": false,
        "axisColorMode": "text",
        "axisLabel": "",
        "axisPlacement": "auto",
        "fillOpacity": 80,
        "gradientMode": "none",
        "hideFrom": {
          "legend": false,
          "tooltip": false,
          "viz": false
        },
        "lineWidth": 1,
        "scaleDistribution": {
          "type": "linear"
        },
        "thresholdsStyle": {
          "mode": "off"
        }
      },
      "mappings": [],
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",
            "value": null
          },
          {
            "color": "red",
            "value": 80
          }
        ]
      }
    },
    "overrides": []
  },
  "gridPos": {
    "h": 8,
    "w": 12,
    "x": 0,
    "y": 40
  },
  "id": 3,
  "options": {
    "barRadius": 0,
    "barWidth": 0.97,
    "fullHighlight": false,
    "groupWidth": 0.7,
    "legend": {
      "calcs": [],
      "displayMode": "list",
      "placement": "bottom",
      "showLegend": true
    },
    "orientation": "auto",
    "showValue": "auto",
    "stacking": "none",
    "tooltip": {
      "mode": "single",
      "sort": "none"
    },
    "xTickLabelRotation": 0,
    "xTickLabelSpacing": 0
  },
  "targets": [
    {
      "editorMode": "builder",
      "format": "table",
      "rawSql": "SELECT \"{{visualization.attribute_dict["valueName"]}}\", \"{{visualization.attribute_dict["timestampName"]}}\" FROM kpivalue JOIN kpi on kpivalue.kpi_id = kpi.id JOIN {{kpi.name | lower }} ON kpi.id = {{kpi.name | lower }}.id where id_kpi = '{{kpi.attribute_dict["id_kpi"]}}';",
      "refId": "A"
    }
  ],
  "title": "{{visualization.attribute_dict["name"]}}",
  "type": "barchart"
}
{% endmacro -%}  