# Sphinx documentation
docs/_build/

*.pyc
*.pyo
*.bat
*.env
**/besser_venv/
**/venv/
**/venv/**
# Backend
backend/generator/generated_output/auth
backend/Docker/
backend/docs/_build/

# Frontend
**/node_modules/
climaborough-data-platform-frontend/src/views/HomeView copy.vue

# Clima Solutions Bot
climasolutionsbot/config.ini
*.log
backend/src/venv/

savedold/