version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      PGDATA: /var/lib/postgresql/data
    volumes:
      - path/to/your/data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  fastapi:
    build:
      context: ../
    container_name: fastapi_container
    environment: 
      DB_HOST: postgres
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - postgres

      
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: a@a.com
      PGADMIN_DEFAULT_PASSWORD: a
    ports:
      - "82:80"
    restart: unless-stopped
volumes:
  postgres_data:
