version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vue-app
    environment:
      API_URL: http://localhost:8000
      WEBSOCKET_URL: http://localhost:8765
    ports:
      - 8080:80
